.idea/
pygame-1.9.4-cp36-cp36m-win_amd64.whl
__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/__main__.py

venv/
classes/__pycache__/
classes/interface/__pycache__/
classes/magic/__pycache__/
classes/objects/__pycache__/
classes/objects/net/__pycache__/
classes/objects/net/client/__pycache__/
classes/objects/net/server/__pycache__/
classes/objects/single/__pycache__/
net/server/__pycache__/
net/client/__pycache__/
net/TCPConnection/__pycache__/
single/__pycache__/
